<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

    <title>{{title}}</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/stylesheets/index.css" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
	    </div>
	    <div class="slider">
	    	<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li><img src="images/banner.jpg" class="img-responsive" alt=""/>
						<div class="button">
							<a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
						</div>
						<div class="bottom_info">
							<div class="col-md-9">
		    					<ul class="list_1">
					    			<li>Published <span class="m_1">Feb 20, 2015</span></li>
		    					</ul>
		    				</div>
		    				<div class="col-md-3 grid_1">
		    					<ul class="list_1 list_2">
					    			<li><i class="icon1"> </i><p>2,548</p></li>
		    					</ul>
		    				</div>
						</div>
					</li>
					<li><img src="images/banner1.jpg" class="img-responsive" alt=""/>
						<div class="button">
							<a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
						</div>
						<div class="bottom_info">
							<div class="col-md-9">
		    					<ul class="list_1">
					    			<li>Published <span class="m_1">Feb 20, 2015</span></li>
		    					</ul>
		    				</div>
		    				<div class="col-md-3 grid_1">
		    					<ul class="list_1 list_2">
					    			<li><i class="icon1"> </i><p>2,548</p></li>
		    					</ul>
		    				</div>
						</div>
					</li>
					<li><img src="images/banner2.jpg" class="img-responsive" alt=""/>
						<div class="button">
							<a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
						</div>
						<div class="bottom_info">
							<div class="col-md-9">
		    					<ul class="list_1">
					    			<li>Published <span class="m_1">Feb 20, 2015</span></li>
		    					</ul>
		    				</div>
		    				<div class="col-md-3 grid_1">
		    					<ul class="list_1 list_2">
					    			<li><i class="icon1"> </i><p>2,548</p></li>
		    					</ul>
		    				</div>
						</div>
					</li>
				</ul>
	    	</div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>
</body>
</html>
