body {
  position: relative;
  overflow-x: hidden;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  line-height: 1.3;
  background: url('bg.gif');
}
body,
html {
  height: 100%;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul, ol {margin: 0;}
p {margin: 0;}
/**搜索框*/


.container_wrap{
	padding:0;
	width: 100%;
}
.header_top{
	/*background: #fff;*/
  width: 500px;
  float: right;
  padding-bottom: 20px;
	/*padding:2em 1em 1.8em;*/
	border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-o-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
}

/*--- slider-css --*/
.slider {
	position: relative;

}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 12px;
	width: 12px;
	display: inline-block;
	background:#fff;
	border-radius:50px;
}
.callbacks_here a:after{
	border: 2px solid #fd926d;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{

}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom:50%;
	z-index: 999;
	left:0px;
	list-style: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height:117px;
  width:30px;
  /*background: transparent url("../images/arrows.png") no-repeat left top;*/
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
 }
/*-- responsive-mediaquries --*/
.button {
display: block;
z-index: 2;
text-shadow: none;
margin: 0;
max-width: none;
position: absolute;
top:58%;
right:15%;
}
.button a{
	text-decoration: none;
	color: #fff;
	background: #d8232a;
	padding: 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
}

/* Bounce To Right */

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#3f444e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.bottom_info{
	display: block;
	z-index: 2;
	text-shadow: none;
	margin: 0;
	max-width: none;
	position: absolute;
	top:90.5%;
	right: 0;
	width: 100%;
	padding: 10px 15px 5px;
	background: rgba(3, 3, 3, 0.45);
}

.grid_1{
	padding-right:0!important;
}
ul.list_1, ul.list_3, ul.list_4{
	padding:0;
	margin:0;
	list-style:none;
}
ul.list_1 li{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2em;
	margin-right:5%;
}
span.m_1{
	font-size:14px;
	color:#cb242a;
}
span.m_1 img{
	vertical-align: text-bottom;
}
i.icon1, i.icon2, i.icon3{
	width: 20px;
	height: 20px;
	background: url(../images/img_sprite.png) -7px -42px;
	float: left;
	margin-right: 8%;
}
ul.list_2 li{
	width: 32%;
	margin-right: 0;
}
ul.list_2 li p, ul.list_4 li p{
	float: left;
}
i.icon2{
	background: url(../images/img_sprite.png) -33px -42px;
}
i.icon3{
	background: url(../images/img_sprite.png) -60px -42px;
}
.content{
	/*background:#edeff0;*/
	/*padding:2em;*/
}

/*display*/
.moviedisplay {
  width: 980px;
  margin:20px auto;
  overflow: hidden;
}
.type {
	width:980px;
	padding-bottom:50px;
  overflow: hidden;
}
.type .head {
	width:980px;
	padding-top:14px;
	padding-bottom:11px;
}
.typename {
  float: left;
  display: inline;
  color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.4em;
}

.seeall {
  font-size: 1.2em;
  float: right;
  display: inline;
}
.movies {
  margin-top: 30px;
}
.movie {
  float: left;
	width:152px;
  margin-right: 11px;
  padding-right: 8px;
  padding-bottom: 5px;
}

.movie-image {
	float:left;
	width:152px;
	height:214px;
	position:relative;
}
.movie-image img {
	width:152px;
	height:214px;
}
.movie-image a {
	float: left;
	display: inline;
	width:152px;
	height:214px;
	position: relative;
	z-index: 2;
}

.movie_name {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  color:#fff;
}
.price {
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.buybutton {
  text-align: center;
}
.buybutton a{
  text-decoration: none;
	color: #fff;
	background: #d8232a;
	padding: 5px 25px;
  margin-top: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
}
.comments {
	background:url('comments.gif') no-repeat 0 center;
	padding-left:12px;
	float:right;
  font-weight: bold;
}
